*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 70%;
    margin: auto;
}

.navi aside{
    float: left;
    width: 25%;
}

.navi .links{
    float: left;
    width: 50%;
}

.hero_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sect{
    margin: 10px 0px;
}

.img_left, .txt_left{
    float: left;
    width: 60%;
}

.text_right, .img_right{
    float: left;
    width: 40%;
}

/* DEBUG */

.debug .navi > .links {
    height: 70px;
    background-color: darkblue;
}

.debug .navi > aside{
    background-color: rgba(100, 237, 123, 0.479);
    height: 70px;
}


.debug .hero_sect{
    height: 380px;
    background-color: darkcyan;
    position: relative;
}

.debug  .sect{
    height: 400px;
    background-color: darkturquoise;
}

.debug .img_left, .debug .img_right{
    height: 400px;
    background-color: forestgreen;
}

.debug .txt_left, .debug .text_right{
    height: 400px;
    background-color: maroon;
}





.debug footer{
    height: 300px;
    background-color: darkblue;
}

.debug .hero_txt{
    width: 60%;
    height: 100px;
    background-color: firebrick;
}

