/* STRUCTURE */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 70%;
    margin: auto;
    position: relative;
}

.navi aside{
    float: left;
    width: 25%;    
}

.navi .links{
    float: left;
    width: 50%;

}

.img_left, .img_right{
    float: left;
    width: 60%;
}

.hero_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txt_right, .txt_left{
    float: left;
    width: 40%;
}

footer .social{
    float: left;
    width: 40%;
}

footer .more{
    float: left;
    width: 15%;
}

.closer > .logo, .closer > .register{
    float: left;
    width: 50%;
}


/* STYLING */

body{
    font-family: 'Catamaran', sans-serif;
}

/* NAV */

header{
position: absolute;
top: 0px;
left: 0px;
z-index: 100;
width: 100%;
height: 70px;
background-color: transparent;
}

header > *{
    height: 70px;
}
.navi .container{
    position: relative;
    top: 0px;
    left: 0px;
}


.links li{
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.2rem;
    text-align: center;
}

header ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


a {
    text-decoration: none;
    color: white;
}

.logo{
    position: absolute;
    top: 25%;
    left: 0px;
}

.login{
    position: absolute;
    top: 25%;
    right: 0px;
}

.navi h2{
    font-size: 1.2rem;
    padding: 5px 8px;
    background-color: rgb(250, 250, 250);
    width: 80px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    right: 0px;
}

/* MAIN */
.hero_sect img{
    width: 100%;
}

.hero_txt{
    font-size: 2rem;
    color: white;
    text-align: center;
}

.hero_txt > p{
display: block;
padding-top: 20px;
width: 880px;
font-size: 1.5rem;
}

main li{
    list-style: none;
    display: inline-block;
    font-size: 1.45rem;
    margin-right: 30px;
    margin-top: 40px;
}

.fa-long-arrow-alt-down{
    margin-right: 10px;
}

.mac > a{
    background-color: white;
    color: rgb(7, 7, 7);
    border-radius: 30px;
    padding: 10px 20px;
}

.open{
    background-color: rgb(24, 24, 24);
    color: rgb(223, 223, 223);
    border-radius: 30px;
    padding: 10px 20px;
}




/* DEBUG */

.debug .navi > .links {
    height: 70px;
    background-color: rgba(0, 0, 139, 0);
}

.debug .navi > aside{
    background-color: rgba(100, 237, 123, 0);
    height: 70px;
}


.debug .hero_sect{
    height: 380px;
    background-color: darkcyan;
}

.debug .img_left, .debug .img_right{
    height: 500px;
    background-color: forestgreen;
    margin: 10px 0px;
}

.debug .txt_left, .debug .txt_right{
    height: 500px;
    background-color: maroon;
    margin: 10px 0px;
}


.debug footer{
    height: 800px;
    background-color: darkblue;
}

.debug .hero_txt{
    width: 60%;
    height: 100px;
    background-color: firebrick;
}

.debug .top, .debug .middle, .debug .bottom{
height: 200px;
}

.debug .top{
    background-color: mediumorchid;
}

.debug .middle{
    background-color: mediumpurple;
}

.debug .bottom{
    background-color: mediumslateblue;
}

footer{
    margin-top: 20px;
}

.debug .index > div{
    height: 600px;
}

.debug .closer{
    height: 100px;
    background-color: peru;
}

.debug .company{
    background-color: rgba(100, 237, 123, 0.479);
}

.debug .social{
    background-color: rosybrown;
}

.debug .product{
    background-color: saddlebrown;
}

.debug .resource{
    background-color: salmon;
}

.debug .support{
    background-color: sandybrown;
}

.debug .closer > .logo, .debug .closer > .register{
    height: 100px;
}

.debug footer .logo{
    background-color: brown;
}